.tech {
    padding-top: 50px;
    &__heading {
        font-size: 48px;
        text-align: center;
        margin-bottom: 50px;
        color: #333;
    }
    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-daily {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-text {
                color: #333;
                font-size: 24px;
                margin-bottom: 20px;
            }
            &-list {
                display: flex;
                flex-direction: row;
            }
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                & svg {
                    width: 84px;
                    height: 84px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .tech {
    padding-top: 100px;
    &__group {   
        &-daily {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-list {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
             &-item {
                &:not(:last-child) {
                    margin-right: 0px;
                }
        }
    }
}
    }
}